<html>
<head>
　<title><%= title %></title>
</head>
<body style="background-color:#cccc77">

<h1>Login Success</h1>

<%= message %><br>
name:<%= name %> <br>
password:<%= password %> <br>


</body>
</html>
